@use 'common/variables' as *;
@use 'common/mixin' as *;

.cart-head {
    text-align: center;

    &-ttl {
        border-top: 1px solid #e5e7eb;
        border-bottom: 1px solid #e5e7eb;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 1rem 0;

        @include mq('md', min) {
            font-size: 2rem;
            padding: 1.5rem 0;
        }

        &-inner {
            position: relative;

            .cart-prev {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }

    }

    .logo {
        padding: 1rem 0;
        display: block;

        img {
            height: 5rem;

            @include mq('md', min) {
                height: 8rem;
            }
        }
    }
}

.c-input-check {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    user-select: none;
    cursor: pointer;
    position: relative;

    @include mq('md', min) {
        gap: 2rem;
        margin-bottom: 2rem;
        font-size: 1.7rem;
    }

    &.--radio {
        gap: 1rem;
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked~.checkmark {
            background-color: #007bff;
            border-color: #007bff;

            &:after {
                display: block;
            }
        }
    }

    .checkmark {
        position: relative;
        width: 1.4rem;
        height: 1.4rem;
        background-color: #fff;
        border: 0.2rem solid #ccc;
        border-radius: 0.4rem;
        transition: all 0.3s ease;

        @include mq('md', min) {
            width: 1.7rem;
            height: 1.7rem;
        }

        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 0.3rem;
            top: 0.1rem;
            width: 0.3rem;
            height: 0.5rem;
            border: solid #fff;
            border-width: 0 0.2rem 0.2rem 0;
            transform: rotate(45deg);

            @include mq('md', min) {
                left: 0.4rem;
                height: 0.8rem;
            }
        }
    }

    &:hover .checkmark {
        border-color: #007bff;
    }
}

.cart-box {
    display: flex;
    gap: 3rem;
    margin-top: 4rem;

    @include mq('md') {
        margin-top: 1rem;
        flex-direction: column;
        gap: 1rem;
    }

    &__ttl {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;

        @include mq('md', min) {
            font-size: 2rem;
        }

    }

    &-left {
        @include mq('md', min) {
            margin-bottom: 2rem;
            width: 65%;
        }

        &.--flex {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @include mq('md', min) {
                gap: 3rem;
            }

        }

        .cart-items {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @include mq('md', min) {
                gap: 3rem;
            }

            .cart-item {
                display: flex;
                gap: 1rem;
                position: relative;

                @include mq('md', min) {
                    gap: 2rem;
                }

                &__img {
                    width: 7rem;
                    height: 7rem;
                    overflow: hidden;
                    border: 1px solid #eee;
                    border-radius: 0.5rem;
                    flex-shrink: 0;

                    @include mq('md', min) {
                        width: 10rem;
                        height: 10rem;
                        border-radius: 1rem;
                    }

                }

                &__meta {
                    flex: 1;
                    display: flex;
                    flex-direction: column;

                    &__head {
                        display: flex;
                        justify-content: space-between;
                        gap: 2rem;
                        align-items: baseline;
                    }
                }

                &__ttl {

                    font-weight: 500;
                    margin-bottom: 1rem;
                    display: block;
                    font-size: 1.3rem;

                    @include mq('md', min) {
                        font-size: 1.8rem;
                    }
                }

                &__more {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: auto;
                }

                &__del {
                    border: none;
                    background: none;
                    color: #999;
                    cursor: pointer;

                    &:hover {
                        color: #666;
                    }
                }

                &__attribute {
                    font-size: 1.5rem;
                }

                &__price {
                    display: flex;
                    gap: 1rem;
                    align-items: baseline;

                    .price-current {
                        font-weight: 700;
                        color: #dc2626;

                        @include mq('md', min) {
                            font-size: 1.8rem;
                        }
                    }

                    .price-old {
                        color: #999;
                        text-decoration: line-through;
                    }
                }
            }
        }

    }

    &-right {
        flex: 1;

        @include mq('md', min) {
            position: sticky;
            top: 3%;
            height: 20vw;
        }

        .cart-summary {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            border-bottom: 1px dashed #ccc;
            padding-bottom: 1.5rem;
            margin-bottom: 1rem;

            &__row {
                display: flex;
                justify-content: space-between;
            }

            &-total {
                font-weight: 700;
                font-size: 1.4rem;

                @include mq('md', min) {
                    font-size: 1.7rem;
                }
            }

            &-quality {
                font-size: 1.3rem;
                font-weight: 700;

                @include mq('md', min) {
                    font-size: 1.6rem;
                }
            }
        }

        .cart-pay {
            display: flex;
            justify-content: space-between;


            strong {
                font-size: 1.6rem;

                @include mq('md', min) {
                    font-size: 2rem;
                }
            }
        }

        .cart-save {
            text-align: right;
            margin-bottom: 2rem;
            font-size: 1.3rem;
            font-weight: 500;

            @include mq('md', min) {
                font-size: 1.5rem;
            }
        }

    }

    .cart-bd {
        border: 1px solid #e5e7eb;
        border-radius: 1rem;
        padding: 1rem;

        @include mq('md', min) {
            border-radius: 2rem;
            padding: 2rem;
        }
    }

    .cart-btn {
        background: #ffc84a;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        padding: 1rem 0;
        gap: 1rem;
        border-radius: 4rem;
        font-size: 1.4rem;
        transition: all 0.3s;
        cursor: pointer;
        border: none;

        @include mq('md', min) {
            padding: 1.6rem 0;
            font-size: 1.7rem;
        }

        &:hover {
            background: #fab005;
        }
    }

    .cart-pay {
        &-ttl {
            font-size: 1.5rem;
            margin-bottom: 1rem;

            @include mq('md', min) {
                font-size: 1.8rem;
                margin-bottom: 2rem;
            }
        }

        .input-group {
            margin-top: 1rem;

            input {
                border: 1px solid #e5e7eb;
                border-radius: 4rem;

                &::placeholder {
                    color: #666;
                }
            }

            textarea {
                width: 100%;
                min-height: 10rem;
                border-radius: 1rem;
                padding: 1rem;
                border: 1px solid #e5e7eb;
            }
        }

        .box-choosed {
            display: flex;
            align-items: center;
            gap: 2rem;

            &__rd {
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }

        .input-address {
            display: flex;
            gap: 1rem;
            margin-top: 1rem;

            @include mq('md') {
                flex-direction: column;
            }

            select {
                width: 100%;
                border: 1px solid #e5e7eb;
                border-radius: 4rem;
                height: 4rem;
                padding-left: 1rem;
                color: #666;

                @include mq('md', min) {
                    height: 5rem;
                }
            }
        }
    }
}

.cart-empty {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;

}


#cart-popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 320px;
    padding: 15px;
    display: none;
    z-index: 9999;
    animation: fadeInUp 0.4s ease;

    .cart-popup-ttl {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
        border-bottom: 1px solid #e5e7eb;
        padding-bottom: 1.5rem;
        font-weight: 500;
        display: flex;
        justify-content: space-between;

        .ic-close {
            cursor: pointer;
        }
    }

    .popup-cart {
        display: flex;
        gap: 1.5rem;
        margin-bottom: 2rem;

        &__img {
            width: 10rem;
            height: 12rem;
            border-radius: 0.7rem;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__info {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        &__ttl {
            font-size: 1.5rem;
        }

        &__price {
            display: flex;
            align-items: baseline;
            gap: 1rem;
            margin-top: auto;


            .price-current {
                color: red;
                font-weight: 600;
            }

            .price-old {
                text-decoration: line-through;
                color: #888;
                font-size: 1.4rem;
            }
        }

        &__quality {
            font-size: 1.4rem;
            display: flex;
            gap: 1.5rem;
        }
    }

    .btn-view-cart {
        background: #007bff;
        border: none;
        color: white;
        padding: 1rem;
        border-radius: 3rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;

        &:hover {
            background: $primary;
        }
    }
}


.cart-message-success {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #28a74545;
    color: #28a745;
    border-left: 4px solid #28a745;
    padding: 12px 20px;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 9999;
    display: none;
    font-weight: normal;
    animation: slideIn 0.3s ease;
}

.box-order-success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;

    img {
        max-width: 35rem;
    }
}