@use 'common/variables' as *;
@use 'common/mixin' as *;

.p-contact {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding-bottom: 3rem;

    @include mq('md', min) {
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
    }

    .contact-form {
        margin-top: 1rem;

        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            input {
                border: 1px solid #ccc;
                height: 4.5rem;
                padding-left: 0.5rem;
                border-radius: 0.5rem;
            }

            textarea {
                border: 1px solid #ccc;
                height: 10rem;
                padding-left: 0.5rem;
                border-radius: 0.5rem;
            }

            .btn-contact {
                border: none;
                height: 5rem;
                background: $primary;
                border-radius: 5rem;
                color: #000;
                font-weight: 500;
                cursor: pointer;
                transition: all 0.3s;

                &:hover {
                    background: $hover;
                }
            }
        }
    }
}

.map iframe {
    height: 100%;
}