@use 'common/variables' as *;
@use 'common/mixin' as *;

.wrap-top {
   display: flex;
   gap: 1.5rem;

   @include mq('md') {
      flex-direction: column;
   }

   .col-bnr {


      @include mq('md', min) {
         width: 30%;
      }
   }

   .col-bnr {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      @include mq('md', min) {
         flex-direction: column;
      }

      .item {
         height: 12rem;

         @include mq('md', min) {
            height: 22rem;
         }

         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
   }

}




.p-mv {
   position: relative;


   @include mq('md', min) {
      width: 70%;
   }

   .img {
      width: 100%;
      height: 20rem;
      object-fit: cover;

      @include mq('md', min) {
         height: 45rem;
      }
   }

   .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 1rem;
      left: 0;
      right: 0;
      gap: 0.5rem;

      @include mq('md', min) {
         gap: 1rem;
      }

      li {
         width: 1rem;
         height: 1rem;

         &.slick-active {
            button {
               background: $primary;
            }

         }

         button {
            width: 100%;
            padding: 0;
            height: 100%;
            border-radius: 50%;
            color: transparent;
            border: none;
            cursor: pointer;
         }
      }
   }
}

.product-home {
   margin: 3rem 0;
   position: relative;

   .slick-list {
      margin: 0 -0.5rem;

      @include mq('md', min) {
         margin: 0 -1.5rem;
      }
   }
}

.home-category {
   margin-bottom: 5rem;

   &__head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;

      .ttl02 {
         text-transform: uppercase;
         border-left: 0.4rem solid $primary;
         line-height: 1;
         padding-left: 1rem;
      }
   }

   .cate-sub {
      display: flex;
      gap: 2rem;

      ul {
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 1rem;

         li {
            a {
               text-transform: capitalize;

               &:hover {
                  color: $primary;
               }
            }
         }
      }

   }


   .view-all {
      background: #eee;
      padding: 0.5rem 2rem;
      border-radius: 2rem;

      &:hover {
         background: $primary;
         color: #FFF;
      }
   }
}

// .p-feedback {
//    padding-bottom: 4rem;

//    .js-feedback {
//       margin-top: 3rem;

//       .slick-dots {
//          display: flex;
//          align-items: center;
//          justify-content: center;
//          margin-top: 2rem;
//          gap: 1rem;

//          li {
//             width: 1.3rem;
//             height: 1.3rem;

//             button {
//                width: 1.3rem;
//                height: 1.3rem;
//                border-radius: 50%;
//                border: none;
//                color: transparent;
//                background: #ccc;
//             }

//             &.slick-active button {
//                background: $primary;
//             }
//          }
//       }

//    }

//    .feedback-item {
//       margin: 1rem;
//       display: flex !important;
//       gap: 2rem;

//       @include mq('md') {
//          flex-direction: column;
//          text-align: center;
//       }

//       &__img {
//          width: 10rem;
//          height: 10rem;
//          overflow: hidden;
//          border-radius: 50%;
//          flex-shrink: 0;
//          margin: auto;
//       }

//       &__meta {
//          flex: 1;
//          box-shadow: 0 0 10px 0 #00000014;
//          padding: 1rem;
//          border-radius: 1rem;
//          text-align: left;

//       }

//       &__ttl {
//          margin-top: 1rem;
//          font-style: italic;
//          font-size: 1.6rem;
//          font-weight: 600;
//       }
//    }
// }



// .p-partner {
//    background: $primary;
//    padding: 2rem 0;

//    .js-partner {
//       margin: 0 -0.5rem;

//       @include mq('md', min) {
//          margin: 0 -1.5rem;
//       }
//    }

//    .item {
//       margin: 0 0.5rem;
//       padding: 1rem;
//       display: block;
//       height: 10rem;
//       background: #FFF;

//       @include mq('md', min) {
//          margin: 0 1.5rem;
//          height: 9rem;
//       }
//    }


// }

// .p-services {
//    padding: 5rem 0;

//    &-wrap {
//       display: grid;
//       grid-template-columns: repeat(2, 1fr);
//       gap: 1rem;

//       @include mq('md', min) {
//          grid-template-columns: repeat(4, 1fr);
//          gap: 3rem;
//       }
//    }

//    .services-item {
//       display: block;
//       overflow: hidden;
//       position: relative;

//       img {
//          height: 17rem;

//          @include mq('md', min) {
//             height: 25rem;
//          }
//       }

//       h3 {

//          background: $primary;
//          color: #FFF;
//          font-size: 1.4rem;
//          width: 100%;
//          text-align: center;
//          padding: 0.5rem 1rem;

//          @include mq('md', min) {
//             padding: 1rem 0;
//             font-size: 1.6rem;
//             position: absolute;
//             bottom: 0;
//          }
//       }
//    }
// }

// .p-news {
//    padding: 5rem 0;

//    &-wrap {
//       margin: 2rem 0 0;

//       @include mq('md', min) {
//          margin: 2rem -1.5rem 0;

//       }
//    }

//    .news-item {


//       @include mq('md', min) {
//          margin: 0 1.5rem;
//       }

//       &__img {
//          display: block;
//          overflow: hidden;
//          height: 25rem;

//          @include mq('md', min) {
//             height: 30rem;
//          }

//       }

//       &__ttl {
//          margin: 1rem 0;
//          font-size: 1.7rem;
//          line-height: 1.4;
//          overflow: hidden;
//          display: -webkit-box;
//          -webkit-box-orient: vertical;
//          -webkit-line-clamp: 2;
//          line-clamp: 2;
//       }

//       &__short {
//          overflow: hidden;
//          display: -webkit-box;
//          -webkit-box-orient: vertical;
//          -webkit-line-clamp: 3;
//          line-clamp: 3;
//       }
//    }
// }