@use 'common/variables' as *;
@use 'common/mixin' as *;
@use 'cart';

.c-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    #filterForm {
        select {
            width: 25rem;
            border: 1px solid #ccc;
            padding: 0.7rem;
            border-radius: 0.5rem;
        }
    }
}

.product-item {

    position: relative;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 1rem;
    padding: 0.5rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.25);

    @include mq('md', min) {
        padding: 1rem;
    }

    &__img {
        display: block;
        position: relative;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        border-radius: 2rem;
    }

    &__ttl {
        font-size: 1.4rem;
        line-height: 1.4;
        margin: 0.7rem 0;
        display: block;
        text-align: center;
        text-transform: capitalize;
        font-weight: 500;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @include mq('md', min) {
            font-size: 1.6rem;
            line-height: 1.5;
        }
    }

    .btn-buy-now {
        background: $primary;
        cursor: pointer;
        width: 3.7rem;
        height: 3.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        top: 12.8rem;
        right: 0.5rem;

        @include mq('md', min) {
            top: 24.8rem;
        }

        .ic-add-cart {
            display: inline-block;
            width: 2rem;
            height: 1.6rem;
            background: url(../assets/images/ic_cart_plus.svg) no-repeat top center;
            background-size: contain
        }

        &:hover {
            background: $hover;
        }
    }
}

.product-detail {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;


    @include mq('md') {
        flex-direction: column;
        overflow: hidden;
        gap: 2rem;
    }

    &__left {

        @include mq('md', min) {
            width: 50%;
        }

        .image-detail {
            img {
                max-height: 35rem;
            }
        }

        .product-gallery {

            align-items: flex-start;
            overflow: hidden;
            position: relative;

            @include mq('md') {
                width: 100%;
            }

            .slider-nav {
                margin-top: 1rem;

                .image-item {
                    margin: 0 0.5rem;
                    height: 6rem;
                    overflow: hidden;
                    width: 100% !important;

                    @include mq('md', min) {

                        height: 8rem;
                    }

                    &.slick-current img {
                        opacity: 1;
                        border-color: #007bff;

                    }

                    &.active img {
                        opacity: 1;
                        border-color: #007bff;

                    }

                    img {

                        border-radius: 0.3rem;
                        cursor: pointer;
                        border: 1px solid transparent;

                        @include mq('md', min) {
                            opacity: 0.6;
                            border: 2px solid transparent;
                            border-radius: 1rem;
                        }

                    }

                }

                // /* Nếu ít hơn 5 hình → đứng yên */
                // &.slick-initialized.slick-slider:not(.slick-vertical) .slick-track {
                //     transform: translate3d(0, 0, 0) !important;
                //     display: flex !important;

                // }
            }

            .slider-for {
                .image-main {
                    img {

                        max-height: 20rem;

                        @include mq('md', min) {
                            max-height: 33rem;
                        }
                    }

                }
            }
        }

    }

    &__meta {


        @include mq('md', min) {
            width: 50%;
        }

        &__short {
            margin: 1rem 0;
        }

        .product-variants {
            margin-top: 2rem;

            .product-price-codes {
                font-size: 2rem;
                font-weight: bold;
                color: red;

                @include mq('md', min) {
                    font-size: 2.6rem;
                }
            }

            &-color {
                font-size: 1.6rem;
                margin-top: 2rem;

                @include mq('md', min) {
                    font-size: 1.7rem;
                }
            }

            .code-tabs {
                display: flex;
                gap: 1rem;
                margin-top: 1rem;

                .code-tab {
                    padding: 0.5rem 2rem;
                    border: 1px solid #ccc;
                    cursor: pointer;
                    border-radius: 4rem;

                    @include mq('md', min) {
                        padding: 0.8rem 3rem;
                    }

                    &.active {
                        border: 1px solid $primary;
                        background: $primary;
                        color: #fff;
                    }
                }
            }

            .variant-box {
                margin-bottom: 3rem;

                &.hidden {
                    display: none;
                }

                .color-list {
                    display: flex;
                    gap: 2rem;
                    margin: 1rem 0 0;

                    .color-item {
                        cursor: pointer;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        font-size: 1.4rem;

                        @include mq('md', min) {
                            font-size: 1.5rem;
                        }

                        &.active {
                            color: $primary;

                            .color-dot {
                                border-color: $primary;
                            }
                        }

                        .color-dot {
                            width: 4.5rem;
                            height: 4.5rem;
                            display: inline-block;
                            border-radius: 50%;
                            border: 2px solid #ddd;
                        }
                    }
                }
            }
        }
    }

    .box-order {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .box-attribute {
        margin: 3rem 0;

        &__ttl {
            font-weight: 500;
            font-size: 1.6rem;
            display: flex;
            gap: 1rem;
            margin-bottom: 1rem;
        }

        &__lst {
            display: flex;
            align-items: center;
            gap: 2rem;

            &__item {
                display: flex;
                cursor: pointer;

                input[type="radio"] {
                    position: absolute;
                    opacity: 0;
                    pointer-events: none;

                    &:checked+span {
                        border-color: #007bff;
                        background-color: #007bff22;
                    }
                }

                .cuz-att {
                    border: 1px solid #ddd;
                    border-radius: 50%;
                    width: 4.5rem;
                    height: 4.5rem;
                    display: flex;

                    .bg-color {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        border: 2px solid #fff;
                    }
                }

            }

        }

    }

    &-flex {
        margin-top: 4rem;
        display: flex;
        gap: 2rem;

        @include mq('md') {
            margin-top: 1rem;
            flex-direction: column;
        }
    }

    &-des {

        @include mq('md', min) {
            width: 60%;
        }
    }

    &-sidebar {


        @include mq('md', min) {
            width: 40%;
        }

        table {
            border: 1px solid #ccc;
            font-size: 1.4rem;

            @include mq('md', min) {
                font-size: 1.5rem;
            }

            tr {
                th {
                    padding: 1rem;
                }

                td {

                    border: 1px solid #ccc;
                    padding: 0.7rem;

                    &:first-child {
                        background: #eee;
                        width: 30%;
                    }
                }
            }
        }


    }
}

.product-price {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    justify-content: center;

    @include mq('md', min) {
        gap: 1.5rem;
    }

    &.--code {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .price-current {
        color: red;
        font-weight: 600;
        font-size: 1.4rem;

        @include mq('md', min) {
            font-size: 1.8rem;
        }
    }

    .price-old {
        text-decoration: line-through;
        color: #777;
        font-size: 1.2rem;

        @include mq('md', min) {
            font-size: 1.6rem;
        }
    }

    &.--detail {
        margin: 1rem 0;
        justify-content: flex-start;

        .price-current {
            font-size: 2rem;

            @include mq('md', min) {
                font-size: 2.6rem;
            }
        }

        .price-old {
            font-size: 1.4rem;

            @include mq('md', min) {
                font-size: 1.8rem;
            }
        }
    }
}

.discount {
    background: #dc2626;
    color: #fff;
    padding: 0.1rem 0.3rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 1;

    @include mq('md', min) {
        padding: 0.2rem 0.6rem;
        font-size: 1.4rem;
    }

    &.--detail {
        position: relative;
        top: auto;
        right: auto;
    }
}

.p-product {
    padding: 4rem 0;

    &-wrap {
        display: grid;
        margin-top: 1rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem 1rem;

        @include mq('md', min) {
            margin-top: 2rem;
            gap: 2rem;
            grid-template-columns: repeat(5, 1fr);
        }
    }

    &-sale {
        background: $primary;
        padding: 1rem 0;
        border-radius: 0.5rem;

        @include mq('md', min) {
            padding: 1.5rem;
            border-radius: 1rem;
        }

        .product-item {
            background: #fff;
            margin: 0 1rem;
            border-radius: 0.5rem;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
            padding-bottom: 1rem;
        }
    }
}

.product-detail {
    &__buttons {
        display: flex;
        gap: 1rem;
        flex: 1;

        .btn-cart {
            width: 100%;
            background: #ffc84a;
            border: none;
            height: 3.5rem;
            font-size: 1.4rem;
            border-radius: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            transition: all 0.3s;
            cursor: pointer;
            outline: none !important;

            @include mq('md', min) {
                padding: 1.5rem 3rem;
                font-size: 1.7rem;
                height: auto;
            }

            &:hover {
                background: #fab005;
            }

            .ic_cart {
                display: inline-block;
                background: url(../assets/images/ic_cart_2.svg) no-repeat top center;
                width: 2.2rem;
                height: 2rem;
                background-size: contain;
            }
        }
    }
}

// .product-gallery {


//     &__img {
//         overflow: hidden;
//         border-radius: 0.5rem;
//         height: 17rem;
//         display: block;

//         @include mq('md', min) {
//             height: 22rem;
//         }
//     }
// }

.p-products {
    display: grid;
    gap: 2rem 1rem;
    grid-template-columns: repeat(2, 1fr);

    @include mq('md', min) {
        gap: 1.5rem;
        grid-template-columns: repeat(5, 1fr);
    }
}

.p-commit {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    @include mq('md', min) {
        gap: 2rem;
    }

    .commit-item {
        display: flex;
        gap: 1rem;
        align-items: center;
        border: 1px solid #ddd;
        padding: 1rem;
        border-radius: 0.5rem;

        &__img {
            width: 2rem;
            height: 2rem;
            overflow: hidden;
            flex-shrink: 0;

            @include mq('md', min) {
                width: 4rem;
                height: 4rem;
            }
        }

        &__meta {
            flex: 1;

            h3 {
                font-size: 1.3rem;
                font-weight: 500;

                @include mq('md', min) {
                    font-size: 1.6rem;
                }


            }
        }
    }
}