@use "../common/mixin" as *;
@use "../common/variables" as *;



.p-footer {
    padding: 5rem 0 1rem;
    background: #f0f2f5;
    background-size: cover;
    position: relative;

    // &:after {
    //     position: absolute;
    //     content: "";
    //     left: 0;
    //     top: 0;
    //     background: #ffffffad;
    //     width: 100%;
    //     height: 100%;
    // }

    &-col {
        line-height: 1.7;
        position: relative;
        z-index: 1;

        @include mq('md', min) {
            width: 42%;
        }

        &.--tt {
            @include mq('md', min) {
                width: 20%;
            }
        }

        &.--fb {


            @include mq('md', min) {
                width: 33%;
            }
        }

        &__ttl {
            position: relative;
            display: flex;
            padding-bottom: 0.5rem;
            margin-bottom: 1rem;
            font-size: 1.7rem;
            font-weight: 600;

            @include mq('md', min) {
                font-size: 1.8rem;
            }

            &:after {
                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                width: 4rem;
                height: 2px;
                background: $primary;
            }

        }

        .logo-footer {
            margin-bottom: 1.5rem;
            display: block;
        }

        .ttl02 {
            font-size: 1.6rem;
            margin-bottom: 2rem;
            line-height: 1;

            @include mq('md', min) {
                font-size: 2.6rem;
            }
        }

        .item {
            margin-bottom: 0.5rem;
        }

        &__txt {
            font-style: italic;
            margin: 1rem 0;
        }

        .social {
            display: flex;
            gap: 1.5rem;
            position: relative;
            z-index: 1;
            margin-top: 2rem;

            li a {
                width: 2.8rem;
                height: 2.8rem;
                background: #333;
                border-radius: 50%;
                display: flex;
                align-items: center;
                color: #FFF;
                justify-content: center;
                transition: all 0.4s;

                @include mq('md', min) {
                    width: 4rem;
                    height: 4rem;
                }

                &:hover {
                    background: $hover;
                }
            }
        }

        .nav-footer {
            li a {
                display: block;
                margin-bottom: 0.5rem;
                transition: all 0.3s;

                i {
                    font-size: 1.2rem;
                }

                &:hover {
                    padding-left: 0.5rem;
                }

            }

        }

    }

    &-lst {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &-wrap {
        display: flex;
        gap: 1.5rem;
        flex-direction: column;

        @include mq('md', min) {
            flex-direction: row;
            gap: 3rem;

        }
    }

    .copyright {
        text-align: center;
        margin-top: 3rem;
        position: relative;
        z-index: 1;

        @include mq('md') {
            margin-top: 1rem;
            text-align: center;
        }
    }
}

// .c-support {
//     position: fixed;
//     right: 1rem;
//     bottom: 1rem;
//     display: flex;
//     flex-direction: column;
//     gap: 1rem;
//     z-index: 11;

//     .support-ic {
//         width: 4rem;
//         height: 4rem;
//         display: inline-flex;
//         background: $primary;
//         border-radius: 50%;
//         padding: 0.8rem;
//         transition: all 0.3s;

//         @include mq('md', min) {
//             width: 4.4rem;
//             height: 4.4rem;
//             padding: 1rem;
//         }

//         &.zalo {
//             &:hover {
//                 background: #0065f7;
//             }
//         }

//         &.sms-icon {
//             &:hover {
//                 background: #2091eb;
//             }
//         }

//         &.call-icon {
//             animation: phoneRing 1s infinite ease-in-out;
//         }
//     }
// }

.support-ic {
    z-index: 12;
    width: 5rem;
    height: 5rem;
    display: inline-flex;
    border-radius: 50%;
    padding: 0.5rem;
    transition: all 0.3s;
    position: fixed;
    bottom: 1rem;

    &.zalo {
        left: 1rem;
        //background: #0065f7;
        animation: 2s ease infinite _belleffect_czton_1;
        background-color: #0065f7;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 3rem;
            height: 3rem;
            object-fit: scale-down;
        }

        &:hover {}
    }

    &.sms-icon {
        &:hover {
            background: #2091eb;
        }
    }

    &.call-icon {
        right: 1rem;
        box-shadow: 0 2px 10px #0000001a;
        transition: all 0.3s ease;
        animation: 2s ease infinite _belleffect_czton_2;
        background: #FFF;


        span {
            background-color: #d80e0e;
            border-radius: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 2.7rem;
                animation: phoneRing 1s infinite ease-in-out;
            }
        }
    }
}

@keyframes _belleffect_czton_1 {
    0% {
        box-shadow: 0 0 #2091eb;
    }

    15% {
        box-shadow: 0 0 0 5px #2090eb9d;
    }

    25% {
        box-shadow: 0 0 0 10px #2090eb9d, 0 0 0 20px #45a8f8;
    }

    25% {
        box-shadow: 0 0 0 10px #2090eb9d, 0 0 0 20px #45a8f8;
    }
}

@keyframes _belleffect_czton_2 {
    0% {
        box-shadow: 0 0 #d80e0e40;
    }

    15% {
        box-shadow: 0 0 0 5px #d80e0e59;
    }

    25% {
        box-shadow: 0 0 0 10px #d80e0e66, 0 0 0 20px #d80e0e33;
    }

    25% {
        box-shadow: 0 0 0 10px #d80e0e66, 0 0 0 20px #d80e0e33;
    }
}

#backToTop {
    width: 3rem;
    height: 3rem;
    background: $primary;
    color: #FFF;
    display: inline-flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    display: none !important;

    @include mq('md', min) {
        width: 4rem;
        height: 4rem;
    }
}