@use "../common/mixin" as *;
@use "../common/variables" as *;

.form-control {
    background-color: var(--input-background);
    background-clip: padding-box;
    border: var(--input-border-width) solid var(--input-border-color);
    color: $input-color;
    display: block;
    font-family: var(--font-family-base);
    font-size: 1.3rem;
    font-weight: var(--input-font-weight);
    line-height: $input-line-height;
    padding: rem($input-padding-y) rem($input-padding-x);
    width: 100%;
    height: 4rem;

    @include mq('md', min) {
        height: rem($input-height);
        font-size: var(--input-font-size);
    }

    // Unstyle the caret on `<select>`s in IE10+.
    &::-ms-expand {
        background-color: transparent;
        border: 0;
    }

    // Remove select outline from select box in FF
    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 $input-color;
    }

    // Placeholder
    &::placeholder {
        color: $input-placeholder-color;
        opacity: 1;
    }

    &:disabled,
    &[readonly] {
        background-color: $input-disabled-bg;
        opacity: 1;
    }
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
    &.form-control {
        appearance: none; // Fix appearance for date inputs in Safari
    }
}