.cart-head {
  text-align: center;
}
.cart-head-ttl {
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .cart-head-ttl {
    font-size: 2rem;
    padding: 1.5rem 0;
  }
}
.cart-head-ttl-inner {
  position: relative;
}
.cart-head-ttl-inner .cart-prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.cart-head .logo {
  padding: 1rem 0;
  display: block;
}
.cart-head .logo img {
  height: 5rem;
}
@media (min-width: 768px) {
  .cart-head .logo img {
    height: 8rem;
  }
}

.c-input-check {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  user-select: none;
  cursor: pointer;
  position: relative;
}
@media (min-width: 768px) {
  .c-input-check {
    gap: 2rem;
    margin-bottom: 2rem;
    font-size: 1.7rem;
  }
}
.c-input-check.--radio {
  gap: 1rem;
}
.c-input-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.c-input-check input:checked ~ .checkmark {
  background-color: #007bff;
  border-color: #007bff;
}
.c-input-check input:checked ~ .checkmark:after {
  display: block;
}
.c-input-check .checkmark {
  position: relative;
  width: 1.4rem;
  height: 1.4rem;
  background-color: #fff;
  border: 0.2rem solid #ccc;
  border-radius: 0.4rem;
  transition: all 0.3s ease;
}
@media (min-width: 768px) {
  .c-input-check .checkmark {
    width: 1.7rem;
    height: 1.7rem;
  }
}
.c-input-check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 0.3rem;
  top: 0.1rem;
  width: 0.3rem;
  height: 0.5rem;
  border: solid #fff;
  border-width: 0 0.2rem 0.2rem 0;
  transform: rotate(45deg);
}
@media (min-width: 768px) {
  .c-input-check .checkmark:after {
    left: 0.4rem;
    height: 0.8rem;
  }
}
.c-input-check:hover .checkmark {
  border-color: #007bff;
}

.cart-box {
  display: flex;
  gap: 3rem;
  margin-top: 4rem;
}
@media (max-width: 767px) {
  .cart-box {
    margin-top: 1rem;
    flex-direction: column;
    gap: 1rem;
  }
}
.cart-box__ttl {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .cart-box__ttl {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .cart-box-left {
    margin-bottom: 2rem;
    width: 65%;
  }
}
.cart-box-left.--flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .cart-box-left.--flex {
    gap: 3rem;
  }
}
.cart-box-left .cart-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .cart-box-left .cart-items {
    gap: 3rem;
  }
}
.cart-box-left .cart-items .cart-item {
  display: flex;
  gap: 1rem;
  position: relative;
}
@media (min-width: 768px) {
  .cart-box-left .cart-items .cart-item {
    gap: 2rem;
  }
}
.cart-box-left .cart-items .cart-item__img {
  width: 7rem;
  height: 7rem;
  overflow: hidden;
  border: 1px solid #eee;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
@media (min-width: 768px) {
  .cart-box-left .cart-items .cart-item__img {
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
  }
}
.cart-box-left .cart-items .cart-item__meta {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.cart-box-left .cart-items .cart-item__meta__head {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: baseline;
}
.cart-box-left .cart-items .cart-item__ttl {
  font-weight: 500;
  margin-bottom: 1rem;
  display: block;
  font-size: 1.3rem;
}
@media (min-width: 768px) {
  .cart-box-left .cart-items .cart-item__ttl {
    font-size: 1.8rem;
  }
}
.cart-box-left .cart-items .cart-item__more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}
.cart-box-left .cart-items .cart-item__del {
  border: none;
  background: none;
  color: #999;
  cursor: pointer;
}
.cart-box-left .cart-items .cart-item__del:hover {
  color: #666;
}
.cart-box-left .cart-items .cart-item__attribute {
  font-size: 1.5rem;
}
.cart-box-left .cart-items .cart-item__price {
  display: flex;
  gap: 1rem;
  align-items: baseline;
}
.cart-box-left .cart-items .cart-item__price .price-current {
  font-weight: 700;
  color: #dc2626;
}
@media (min-width: 768px) {
  .cart-box-left .cart-items .cart-item__price .price-current {
    font-size: 1.8rem;
  }
}
.cart-box-left .cart-items .cart-item__price .price-old {
  color: #999;
  text-decoration: line-through;
}
.cart-box-right {
  flex: 1;
}
@media (min-width: 768px) {
  .cart-box-right {
    position: sticky;
    top: 3%;
    height: 20vw;
  }
}
.cart-box-right .cart-summary {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
}
.cart-box-right .cart-summary__row {
  display: flex;
  justify-content: space-between;
}
.cart-box-right .cart-summary-total {
  font-weight: 700;
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  .cart-box-right .cart-summary-total {
    font-size: 1.7rem;
  }
}
.cart-box-right .cart-summary-quality {
  font-size: 1.3rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .cart-box-right .cart-summary-quality {
    font-size: 1.6rem;
  }
}
.cart-box-right .cart-pay {
  display: flex;
  justify-content: space-between;
}
.cart-box-right .cart-pay strong {
  font-size: 1.6rem;
}
@media (min-width: 768px) {
  .cart-box-right .cart-pay strong {
    font-size: 2rem;
  }
}
.cart-box-right .cart-save {
  text-align: right;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .cart-box-right .cart-save {
    font-size: 1.5rem;
  }
}
.cart-box .cart-bd {
  border: 1px solid #e5e7eb;
  border-radius: 1rem;
  padding: 1rem;
}
@media (min-width: 768px) {
  .cart-box .cart-bd {
    border-radius: 2rem;
    padding: 2rem;
  }
}
.cart-box .cart-btn {
  background: #ffc84a;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  padding: 1rem 0;
  gap: 1rem;
  border-radius: 4rem;
  font-size: 1.4rem;
  transition: all 0.3s;
  cursor: pointer;
  border: none;
}
@media (min-width: 768px) {
  .cart-box .cart-btn {
    padding: 1.6rem 0;
    font-size: 1.7rem;
  }
}
.cart-box .cart-btn:hover {
  background: #fab005;
}
.cart-box .cart-pay-ttl {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .cart-box .cart-pay-ttl {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}
.cart-box .cart-pay .input-group {
  margin-top: 1rem;
}
.cart-box .cart-pay .input-group input {
  border: 1px solid #e5e7eb;
  border-radius: 4rem;
}
.cart-box .cart-pay .input-group input::placeholder {
  color: #666;
}
.cart-box .cart-pay .input-group textarea {
  width: 100%;
  min-height: 10rem;
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid #e5e7eb;
}
.cart-box .cart-pay .box-choosed {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.cart-box .cart-pay .box-choosed__rd {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cart-box .cart-pay .input-address {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
@media (max-width: 767px) {
  .cart-box .cart-pay .input-address {
    flex-direction: column;
  }
}
.cart-box .cart-pay .input-address select {
  width: 100%;
  border: 1px solid #e5e7eb;
  border-radius: 4rem;
  height: 4rem;
  padding-left: 1rem;
  color: #666;
}
@media (min-width: 768px) {
  .cart-box .cart-pay .input-address select {
    height: 5rem;
  }
}

.cart-empty {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
}

#cart-popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 320px;
  padding: 15px;
  display: none;
  z-index: 9999;
  animation: fadeInUp 0.4s ease;
}
#cart-popup .cart-popup-ttl {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #e5e7eb;
  padding-bottom: 1.5rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
#cart-popup .cart-popup-ttl .ic-close {
  cursor: pointer;
}
#cart-popup .popup-cart {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
#cart-popup .popup-cart__img {
  width: 10rem;
  height: 12rem;
  border-radius: 0.7rem;
  overflow: hidden;
}
#cart-popup .popup-cart__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#cart-popup .popup-cart__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#cart-popup .popup-cart__ttl {
  font-size: 1.5rem;
}
#cart-popup .popup-cart__price {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  margin-top: auto;
}
#cart-popup .popup-cart__price .price-current {
  color: red;
  font-weight: 600;
}
#cart-popup .popup-cart__price .price-old {
  text-decoration: line-through;
  color: #888;
  font-size: 1.4rem;
}
#cart-popup .popup-cart__quality {
  font-size: 1.4rem;
  display: flex;
  gap: 1.5rem;
}
#cart-popup .btn-view-cart {
  background: #007bff;
  border: none;
  color: white;
  padding: 1rem;
  border-radius: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
#cart-popup .btn-view-cart:hover {
  background: #b31d29;
}

.cart-message-success {
  position: fixed;
  top: 20px;
  right: 20px;
  background: rgba(40, 167, 69, 0.2705882353);
  color: #28a745;
  border-left: 4px solid #28a745;
  padding: 12px 20px;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  display: none;
  font-weight: normal;
  animation: slideIn 0.3s ease;
}

.box-order-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.box-order-success img {
  max-width: 35rem;
}