.p-contact {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  padding-bottom: 3rem;
}
@media (min-width: 768px) {
  .p-contact {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
}
.p-contact .contact-form {
  margin-top: 1rem;
}
.p-contact .contact-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.p-contact .contact-form form input {
  border: 1px solid #ccc;
  height: 4.5rem;
  padding-left: 0.5rem;
  border-radius: 0.5rem;
}
.p-contact .contact-form form textarea {
  border: 1px solid #ccc;
  height: 10rem;
  padding-left: 0.5rem;
  border-radius: 0.5rem;
}
.p-contact .contact-form form .btn-contact {
  border: none;
  height: 5rem;
  background: #b31d29;
  border-radius: 5rem;
  color: #000;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
}
.p-contact .contact-form form .btn-contact:hover {
  background: #be1e2d;
}

.map iframe {
  height: 100%;
}