.f-services {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
@media (min-width: 768px) {
  .f-services {
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }
}
.f-services__item {
  position: relative;
  overflow: hidden;
  height: 25rem;
}
.f-services__item__ttl {
  position: absolute;
  bottom: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.4392156863);
  width: 100%;
  padding: 1rem;
  color: #FFF;
  font-weight: 400;
  transition: all 0.3s;
}
.f-services__item img {
  transition: all 0.3s;
}
.f-services__item:hover .f-services__item__ttl {
  background: #b31d29;
}
.f-services__item:hover img {
  transform: scale(1.15);
}

.view-set-detail {
  display: inline-flex;
  background: #b31d29;
  margin: 1rem 0;
  border-radius: 6rem;
  padding: 1rem 3rem;
  font-weight: 500;
  transition: all 0.3s;
  cursor: pointer;
}
.view-set-detail:hover {
  background: #be1e2d;
}